@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-primary-100: #e1effe;
  --color-primary-600: #1c64f2;
  --color-primary-700: #1a56db;
  --color-primary-800: #1e429f;
  --color-gray-50: #f9fafb;
  --color-gray-200: #e5e7eb;
  --color-gray-300: #d1d5db;
  --color-gray-500: #6b7280;
  --color-gray-900: #111928;
}
